@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: linear-gradient(to right bottom, #F3F4F4, #27282a);
    font-family: 'Poppins', sans-serif;
}

.search-btn {
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
}

.location-btn {
    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.25);
}

.text>h1 {
    background: linear-gradient(48.19deg, rgb(41, 41, 41), rgba(255, 255, 255, 0));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    line-height: 120px;
}

.weather-card {
    box-shadow: 6px 6px 6px 3px #57595B;
}

.weather-card2{
    box-shadow: 6px 6px 6px 3px #57595B;
}

.weather-box {
    background: linear-gradient(144.82deg, rgb(248, 133, 8) -12.412%, rgba(246, 250, 217, 0) 163.322%);
}

.weather-box2 {
    background: linear-gradient(137.84deg, rgb(68, 61, 100) -19.207%, rgba(101, 130, 198, 0) 158.479%);
}

